<div class="outside">

<h2>Book was successfully updated...</h2>


<p><%= @book.title %></p>

<p><%= @book.body %></p>

<div class="option">

<ul class=move">
<li><%= link_to "Edit",edit_book_path(@book.id) %></li>
<li><%= link_to"Back",books_path %></li>
</ul>

</div>
</div>